<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Signup | SORA</title>
    <link rel="stylesheet" href="scss/styles.css">
</head>
<body>
    <header>
        <nav  class="text-4xl">SORA</nav>
    </header>   
    <main>
        <div class="main-card">
            <div class="login-card">
                <div class="login">
                    <form action="/login" method="POST">
                        <label for="username">username</label><br>
                        <input type="text" name="username" id="username"><br>
                         <label for="password">password</label><br>
                         <input type="password" name="password" id="password"><br>
                         <button type="submit">Log in</button>
                    </form>
                </div>
            </div>
            <div class="signup-card"></div>

        </div>
    </main>
</body>
</html>