<!DOCTYPE html>
<html class="h-full sm:overflow-scroll md:overflow-hidden " lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup/Login | SORA</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body class="h-full bg-gray-300 text-gray-300">
    <header>
        <nav class="text-2xl sm:text-3xl md:text-4xl bg-zinc-900 py-3 px-4 sm:py-4 sm:px-6">SORA</nav>
    </header>
    <main class="h-full">
        <div class="flex flex-col sm:flex-row gap-7 sm:gap-15 md:gap-[7em] justify-center items-center p-4 sm:p-8 md:p-12 min-h-[calc(100vh-4rem)]">
            
            <div class="signup-card p-4 sm:p-6 flex items-center justify-center rounded-md w-full sm:w-[90%] md:w-[80%] lg:w-[40%] xl:w-[30%] max-w-md">
                <div class="signup w-full text-lg sm:text-xl">
                    <form class="flex flex-col w-full justify-center gap-2" action="/signup" method="POST">
                        <h3 class="w-full font-bold underline text-slate-900 mb-4 text-xl sm:text-2xl">Signup</h3>
                        <label class="text-slate-900 font-semibold" for="signup-email">Email</label>
                        <input class="rounded-md shadow-sm p-2" type="email" name="email" id="signup-email">
                        <label class="text-slate-900 font-semibold mt-2" for="signup-first-name">First Name</label>
                        <input class="rounded-md shadow-sm p-2" type="text" name="first_name" id="signup-first-name">
                        <label class="text-slate-900 font-semibold mt-2" for="signup-last-name">Last Name</label>
                        <input class="rounded-md shadow-sm p-2" type="text" name="last_name" id="signup-last-name">
                        <label class="text-slate-900 font-semibold mt-2" for="signup-username">Username</label>
                        <input class="rounded-md shadow-sm p-2" type="text" name="username" id="signup-username">
                        <label class="text-slate-900 font-semibold mt-2" for="signup-password">Password</label>
                        <input class="rounded-md shadow-sm p-2" type="password" name="password" id="signup-password">
                        <label class="text-slate-900 font-semibold mt-2" for="signup-retype-password">Retype Password</label>
                        <input class="rounded-md shadow-sm p-2" type="password" name="retype_password" id="signup-retype-password">
                        <button class="p-2 bg-slate-900 text-lg sm:text-xl rounded-md mt-4 w-full sm:w-[40%]" type="submit" name="submit">Signup</button>
                    </form>
                </div>
            </div>
            <div class="login-card bg-slate-400 p-4 sm:p-6 flex items-center justify-center rounded-md shadow-md w-full sm:w-[90%] md:w-[80%] lg:w-[40%] xl:w-[30%] max-w-md">
                <div class="login w-full text-lg sm:text-xl">
                    <form class="flex flex-col w-full justify-center gap-2" action="/login" method="POST">
                        <h3 class="w-full font-bold underline text-slate-900 mb-4 text-xl sm:text-2xl">Login</h3>
                        <label class="text-slate-900 font-semibold" for="username">Username</label>
                        <input class="rounded-md shadow-sm p-2" type="text" name="username" id="username">
                        <label class="text-slate-900 font-semibold mt-2" for="password">Password</label>
                        <input class="rounded-md shadow-sm p-2" type="password" name="password" id="password">
                        <button class="p-2 bg-slate-900 text-lg sm:text-xl rounded-md mt-4 w-full sm:w-[40%]" type="submit" name="submit">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <script>
        let login_card = document.querySelector(".login-card");
        let signup_card = document.querySelector(".signup-card");

        let styles_array = ["bg-slate-400", "shadow-md"];

        login_card.addEventListener("mouseenter", () => {
            login_card.classList.add(...styles_array);
            signup_card.classList.remove(...styles_array);
        });

        signup_card.addEventListener("mouseenter", () => {
            signup_card.classList.add(...styles_array);
            login_card.classList.remove(...styles_array);
        });
    </script>
</body>

</html>